@layer utilities {
	/* .h1 {} */

	/* .h2 {} */

	/* .h3 {} */

	/* .h4 {} */

	/* .h5 {} */

	/* .h6 {} */

	.cover\/titre {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		line-height: normal;
		letter-spacing: 0.05em;

		@screen prototype {
			font-size: 1.5625rem /* 25px */;
		}
	}

	.cover\/legende {
		font-size: 0.6875rem /* 11px */;
		line-height: normal;
		letter-spacing: 0.14em;
		text-transform: uppercase;
	}

	.titre {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 1.75rem /* 28px */;
		line-height: 1.5;
		letter-spacing: 0.05em;

		@screen prototype {
			letter-spacing: 0.08em;
			font-size: 1.75rem /* 28px */;
		}
	}

	.texte {
		font-size: 0.75rem /* 12px */;
		line-height: normal;
	}

	.info\/titre {
		font-size: 0.5rem /* 8px */;
		line-height: calc(18 / 8);

		letter-spacing: 0.14em;
		text-transform: uppercase;
	}

	.info\/donnée {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 1.125rem /* 18px */;
		line-height: 1;
		letter-spacing: 0.06em;
		text-transform: none;
	}

	.Desk\/CTA {
		font-size: 0.875rem /* 14px */;
		line-height: normal;

		letter-spacing: 0.21em;
		text-transform: uppercase;
	}

	.Desk\/CTA_contact {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 2.625rem /* 42px */;

		line-height: normal;
		letter-spacing: 0.05em;

		@screen prototype {
			font-size: 4.25rem /* 68px */;
		}
	}

	.Desk\/CTA_social {
		font-size: 0.75rem /* 12px */;
		line-height: normal;
		letter-spacing: 0.4em;

		text-transform: uppercase;

		@screen prototype {
			font-size: 0.875rem /* 14px */;
		}
	}

	.telephone,
	.email {
		font-size: 0.875rem /* 14px */;
		line-height: calc(23 / 14);

		letter-spacing: 0.25em;
		text-transform: uppercase;
	}

	.Desk\/CTA_telephone {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 3.3125rem /* 53px */;
		line-height: normal;
		text-align: justify;

		@screen prototype {
			font-size: 3.625rem /* 58px */;
		}
	}

	.Desk\/CTA_email {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 2.3125rem /* 37px */;
		line-height: normal;

		letter-spacing: 0.04em;

		@screen prototype {
			font-size: 2.5rem /* 40px */;
		}
	}

	footer {
		font-variation-settings: "wght" 500, "wdth" 200, "ital" 0;
		font-size: 0.5625rem /* 9px */;
		line-height: normal;
		letter-spacing: 0.11em;

		@screen prototype {
			font-size: 0.625rem /* 10px */;
			letter-spacing: 0.04em;
		}
	}

	.nom {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 2.3125rem /* 37px */;
		line-height: normal;
		letter-spacing: 0.06em;

		@screen prototype {
			font-size: 2.5rem /* 40px */;
			letter-spacing: 0.07em;
		}
	}

	.about-titre {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 2.5rem /* 40px */;
		line-height: 1.5;
		letter-spacing: 0.05em;
	}

	.about-texte {
		font-size: 0.9375rem /* 15px */;
		line-height: calc(23 / 15);
		letter-spacing: 0.04em;
	}

	.case-study-texte {
		font-size: 0.75rem /* 12px */;
		line-height: calc(23 / 15);
	}

	.case-study-navigation {
		font-size: 0.625rem /* 10px */;
		line-height: 1.8;
		letter-spacing: 0.14em;
		text-transform: uppercase;
	}

	.error404-texte {
		font-size: 10px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
	}

	.error404-titre {
		@apply font-heading;

		font-variation-settings: "wght" 700;
		font-size: 42px;
		line-height: 43px;
		letter-spacing: 0.01em;
	}
}
