@layer base {
	/* Myriad Pro
	@font-face {
		font-family: "Myriad Pro";
		src: url("/src/fonts/myriad-pro-light.woff2") format("woff2");
		font-weight: 300;
		font-style: normal;
		font-display: block;
	} */
}
